<div class="container" style="padding-top: 50px">
    <div class="ui raised segment" id="page1">
        <div class="ui grid">
            <div class="eight wide column">
                <p id="line1">In Xanadu did Kubla Khan</p>
                <p id="line2">A stately pleasure-dome decree:</p>
                <p id="line3">Where Alph, the sacred river, ran</p>
                <p id="line4">Through caverns measureless to man</p>
                <p id="line5">  Down to a sunless sea.</p>
                <p id="line6">So twice five miles of fertile ground</p>
                <p id="line7">With walls and towers were girdled round;</p>
                <p id="line8">And there were gardens bright with sinuous rills,</p>
                <p id="line9">I hate and I love. Perhaps you ask why I do this?</p>
                <p id="line10">Where blossomed many an incense-bearing tree;</p>
                <p id="line11">And here were forests ancient as the hills,</p>
                <p id="line12">Enfolding sunny spots of greenery.</p>
            </div>
            <div class="eight wide column">
                <p id="note1" class="note" style="color:#ff0000"></p>
                <p id="note2" class="note" style="color:#ff0000"></p>
                <p id="note3" class="note" style="color:#ff0000"></p>
                <p id="note4" class="note" style="color:#ff0000"></p>
                <p id="note5" class="note" style="color:#ff0000"></p>
                <p id="note6" class="note" style="color:#ff0000"></p>
                <p id="note7" class="note" style="color:#ff0000"></p>
                <p id="note8" class="note" style="color:#ff0000"></p>
                <p id="note9" class="note" style="color:#ff0000"></p>
                <p id="note10" class="note" style="color:#ff0000"></p>
                <p id="note11" class="note" style="color:#ff0000"></p>
                <p id="note12" class="note" style="color:#ff0000"></p>
            </div>
        </div>

        <div class="right ui rail">
            <div class="ui sticky">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Annotation</div>
                    </div>
                    <div class="content">
                        <p id="selectedText"></p>
                    </div>
                    <div class="content">
                        <div class="ui fluid form">
                            <div class="field">
                                <label>Text</label>
                                <textarea style="width:220px" id="annotation"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui bottom button" id="addNote">Add Annotation</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="left ui rail">
            <div class="ui sticky">
                <div class="ui card">
                    <div class="content">
                        <div class="header">Show All</div>
                    </div>
                    <div class="extra content">
                        <div class="ui bottom button" id="togglePersonal">Show Personal</div>
                    </div>
                    <div class="extra content">
                        <div class="ui bottom button" id="toggleAll">Show All</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="http://localhost:3001/socket.io/socket.io.js"> </script>

<script>
    // Turn on socket.io
    var socket = io.connect('http://localhost:3001');

    socket.emit('noteRequest', {
        "document": "{{title}}",
        "user": "{{user.username}}"
    });

    socket.on('queryResults', function(data) {
        $("#" + data.line).text(data.note).val();
    });

    socket.on('allNotes', function(data) {
        $("#" + data.line).text(data.note).val();
    });

    // Activate Semantic UI
    $('.ui.sticky')
            .sticky({
                context: '#page1'
            })
    ;

    var lineToNote = "";

    $(document).ready(function() {
        $("p").click(function(event) {
            $("#selectedText").text($(event.target).text());
            lineToNote = (event.target.id).toString();
            console.log(event.target.id);
        });
    });

    $(document).ready(function() {
        $('#toggleAll').click(function() {
            socket.emit('getAllNotes', {
                "document": "{{title}}"
            });
        });
    });

    $(document).ready(function() {
        $('#togglePersonal').click(function() {
            $(".note").empty();
            socket.emit('noteRequest', {
                "document": "{{title}}",
                "user": "{{user.username}}"
            });
        });
    });

    $(document).ready(function() {
        $('#addNote').click(function() {
            var lineNumber = lineToNote;
            lineNumber = lineNumber.replace(/\D/g,'');
            lineNumber = "note" + lineNumber;
            socket.emit('note', {
                "user": "{{user.username}}",
                "document": "{{title}}",
                "line": lineNumber,
                "note": $("#annotation").val()
            });
            $("#" + lineNumber).text($("#annotation").val());
        });
    });
</script>